{% extends "layout.html" %}
{% block body %}
<h3>Hakkımızda</h3>
<hr><hr><hr>
<p>
<div class="jumbotron1 text-left">
    &emsp;Herkese Merhaba!<br>
    &emsp;Ben <b class="renk2 fare">Hamit FIRAT</b>, FÜ Teknoloji Fakültesi Yazılım Mühendisliği 3. sınıf öğrencisiyim.<br>
    &emsp;Bu proje <b class="renk2 fare">Yazılım Tasarım ve Mimarisi</b> dersi için hazırlanmıştır.<br><br>
    &emsp;<u><b>Proje Yürütücüleri</b></u><br>
    &emsp;<b class="renk2 fare">Doç. Dr. Resul DAŞ</b><br>
    &emsp;<b class="renk2 fare">Arş.Gör. Gamze Pelin AKSOY</b><br><br>
</div>
<div class="jumbotron1 text-left">
    &emsp;&emsp;<u><b>Projenin Amacı</b></u>
    <h6>&emsp;&emsp;Bir çok Python blog veya sitesinin bile PHP, .NET veya Wordpress ile yazıldığı bu dönemde, 
    Python’ın web frameworku olan <b class="renk2 fare">Django</b> ile bir Blog tasarımı gerçekleştirmek. 
    Yapılacak tasarımda Admin paneli ve Kullanıcı giriş paneli bulunacaktır. 
    Bunun dışında makale ekleme ve kullanıcıların makalelere yorum yapabilme özelliği eklenecektir. 
    Kullanıcı bilgileri ve makalelerin veritabanına kayıt edilebilmesi için ORM
    (nesne tabanlı programlama dilleri yapısına uygun olmayan katı veritabanı sorguları yerine 
    veritabanı yapısının bir nesne gibi düşünülerek yazılım geliştirilmesine olanak sağlayan programlama teknolojisidir) 
    yapısı kullanılacaktır. Proje tamamlandıktan sonra “<b class="renk2 fare">pyth10.com</b>” domaini ile hizmete sunulacaktır.</h6>
</div>
</p>
{% endblock body %}